<html>  
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
    </head>
    <body>
        <h1 class="title">{{ title }}</h1>

        <h3 class="phone">{{ phone }}</h3>

        <table>
            <tr><th>ID</th><th>Name</th></tr>
            <tr><td>1</td><td>Jim Brown</td></tr>
            <tr><td>2</td><td>Mickey Mouse</td></tr>
            <tr><td>3</td><td>Tom Brady</td></tr>
            <tr><td>4</td><td>The Most Interesting Man</td></tr>
            <tr><td>5</td><td>Bob Marley</td></tr>
            <tr><td>6</td><td>Slim Shady</td></tr>
            <tr><td>7</td><td>Tom Hanks</td></tr>
            <tr><td>8</td><td>Thomas the Tank Engine</td></tr>
            <tr><td>9</td><td>Mr. Incredible</td></tr>
            <tr><td>10</td><td>Lady Gaga</td></tr>
        </table>

        <button class="mainButton">Add New Patient</button>

        <script src="/static/scripts.js"></script>
    </body>
</html>  
